body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.homeImage {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeImage{
    background-image: url("../Images/coverImg.jpg");
    height: 100%;
}
