{% extends 'layout.html' %}

{% block body %}
<div class="homeImage">
    <div class = "overlayColor">
        <a href = "/laptops">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Laptops</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/tablets">
        <div class = "projThumb" >
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Tablets</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/phones">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Phones</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/desktops">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Desktops</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/speakers">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Speakers</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/printers">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Printers</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/cameras">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Cameras</b>
                </div>
            </div>
        </div>
        </a>
        <a href = "/tvs">
        <div class = "projThumb">
            <div class="overlayColor color1" >
                <div class = "projCaption">
                    <b>Televisions</b>
                </div>
            </div>
        </div>
        </a>
    </div>

</div>
{% endblock %}